/** --------------------------------------------------------------
 *  Things I add
 */
img {
    max-width: 100%;
}

.article {
    padding-left: 1%;
    padding-right: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.next-previous .next,.next-previous .previous{
    width:50%;
}


@media screen and (max-width: 680px) {
    .next-previous {
        width:100%;
    }
 }

.next-previous .next{
    float:right;
    text-align:right    
}

.spread {
    width: 100%;
    height: 100%;
    color:  #f8f8f8;
}
