/** 
* Anax Flat theme.
*/

@import url(normalize.less);
@import url(responsive-menu.less);
@import url(header.less);
@import url(grid-flex.less);
@import url(typography.less);
@import url(layout.less);
@import url(mystyle.less);
@import url(awsome.less);
@import url(figure.less);

.site-logo-text-icon {
    img {
        vertical-align: bottom;
    }
}

.route-test {
    font-family: @fontFamilyGaramond;
}

div[class*='route-']{
    @fontFamilyHeadings:  @fontFamilyPalatino;
    @fontFamilyBody:      @fontFamilyCalibri;
    @fontFamilyCode:      @fontFamilyCourier;
}

div[class*='route-report']{
    @fontFamilyHeadings: @fontFamilyHelveticaNeue;
    @fontFamilyBody: @fontFamilyMyriadPro;
}

.route-typography {
    @fontFamilyHeadings:  @fontFamilyPalatino;
    @fontFamilyBody:      @fontFamilyCalibri;
    @fontFamilyCode:      @fontFamilyCourier;
}

.route-analysis-speed-and-usability {
    table, th, td {
        border: 1px solid @navbarItemColor;
    }
}

.vinnter1 {
    background-color: #635c56;
}

.vinnter2 {
    background-color: #522f30;
}

.vinnter3 {
    background-color: #5C4f36;
}

.vinnter4 {
    background-color: #efefef;
}

.ica1 {
    background-color: #f5e9f1;
}

.ica2 {
    background-color: #a02971;
}

.ica3 {
    background-color: #cc8119;
}

.ica4 {
    background-color: #b31736;
}

.ica5 {
    background-color: #f3f0eb;
}

.prime1 {
    background-color: #ffc61d;
}

.prime2 {
    background-color: #f5f5f5;
}

.prime3 {
    background-color: #896705;
}

.prime4 {
    background-color: #fd6a71;
}

.prime5 {
    background-color: #7e77D9;
}

.prime6 {
    background-color: #e0a3f0;
}
